<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>상세 페이지</title>
    <style>
        body {
            width: 800px;
            margin: 0 auto;
            margin-top: 50px;
        }

        .container {
            height: 500px;
        }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">메인 페이지로</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--  설명: 게시글을 작성했을 때, 해당 글만 보여주는 페이지입니다. -->
<!--  content -->

<div class="container my-3">
    <h2 class="border-bottom py-2" th:text="${boardEntity.title}">제목</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                <p th:text="${boardEntity.content}">내용</p>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span>글쓴이: 1234</span>
                    </div>
                    <div>
                        <p th:text="${boardEntity.curTime}"></p>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
                   data-uri="/question/vote/40">
                    추천
                    <span class="badge rounded-pill bg-success">0</span>
                </a>
            </div>
        </div>
    </div>
    <form th:action="@{|/comment/${boardEntity.id}/create|}" method="post">
        <div>
            <textarea placeholder="답변" rows="5" cols="50" name="content"></textarea>
        </div>
        <div>
            <input type="submit" value="답변 등록">
        </div>
    </form>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">댓글 내용</th>
            <th scope="col">작성 일시</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="comment : {commentList}">
            <td th:text="${comment.content}">2</td>
            <td th:text="${comment.curTime}">3</td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <a th:href="@{/board/entire_page}" class="btn btn-primary">뒤로</a>
    <a th:href="@{'/board/' + ${boardEntity.id} + '/modify'}" class="btn btn-primary">글 수정</a>
    <a th:href="@{'/board/' + ${boardEntity.id} + '/delete'}" class="btn btn-danger">글 삭제</a>
</div>
<!-- content -->

<hr color="black">
<div>
    <h1>강원대학교 축제 홈페이지 만들어봅시다.</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>